<footer class="footer">
  <div class="footer__container container">
    <div class="footer__column">
       {{ footer_left }}
    </div>
    <div class="footer__column">
      {{ footer_right }}
    </div>
  </div>
</footer>